[MASTER]
# A list of file extensions of the files that will be checked for Python code
init-hook='import sys; sys.path.append(".")'
extension-pkg-whitelist=pydantic
load-plugins=pylint_django

[MESSAGES CONTROL]
# Only show these errors
# Disable the following checks (example list):
disable= unused-argument,
         line-too-long,
         redefined-outer-name

[REPORTS]
# Set the output format. Available formats: text, parseable, colorized, json, msvs (visual studio) and html
output-format=colorized

# Include a report at the end of the log
reports=yes

# Put a full report at the end of the file
report-full=no

[DESIGN]
# Maximum number of parents for a class (see R0901).
max-parents=15

# Maximum number of attributes for a class (see R0902).
max-attributes=10